<section class="skills-section" id="skills">
  <div class="container">
    <div class="header-row">
      <div class="title-wrapper">
        <h4>MY Stack</h4>
        <h2>Skills set</h2>
        <img
          src="assets/img/skill-cirkel.png"
          alt="Skill set"
          class="scribble-circle"
        />
      </div>

      <img
        src="assets/img/Frame 637.png"
        alt="Skills description"
        class="description-img"
      />
    </div>

    <div class="content-row">
      <div class="skills-grid">
        <div class="skill-card" *ngFor="let skill of skills">
          <img [src]="skill.icon" [alt]="skill.name" />
        </div>
      </div>

      <div class="sticker-wrapper">
        <button type="button" class="sticker-btn" (click)="toggleSticker()">
          <img [src]="stickerSrc" alt="Sticker" class="sticker-img" />
        </button>
      </div>
      
      

    </div>
  </div>
</section>
