.skills-section {
  background-image: url("/assets/img/skill-bg.png");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  position: relative;
  padding: 140px 0 260px 0;
  overflow: hidden;
  color: var(--text-main);
}

.header-row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 80px;
}

.title-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 0 50px;
}

h4 {
  font-family: Bricolage Grotesque;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  text-align: right;
  text-transform: uppercase;
}

h2 {
  font-family: Bricolage Grotesque;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  margin-top: 8px;
}

.scribble-circle {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%) scaleX(0);
  transform-origin: center;
  width: 320px;
  height: auto;
  pointer-events: none;
  animation: draw-scribble-center 5s linear infinite;
}

@keyframes draw-scribble-center {
  0% {
    transform: translate(-50%, -50%) scaleX(0);
  }

  6% {
    transform: translate(-50%, -50%) scaleX(1);
  }

  45% {
    transform: translate(-50%, -50%) scaleX(1);
  }

  50% {
    transform: translate(-50%, -50%) scaleX(0);
  }

  100% {
    transform: translate(-50%, -50%) scaleX(0);
  }
}

.description-img {
  display: block;
  max-width: 520px;
  width: 100%;
  height: auto;
}

.content-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.skills-grid {
  display: grid;
  gap: 22px 34px;
  justify-items: center;
  grid-template-columns: repeat(2, minmax(70px, 1fr));
  width: 100%;
  max-width: 860px;
}

.skill-card img {
  width: 70px;
  height: auto;
  display: block;
  filter: grayscale(100%);
  opacity: 0.9;
  transition: filter 0.3s ease, opacity 0.3s ease, transform 0.2s ease;
}

.skill-card:hover img {
  filter: none;
  opacity: 1;
  transform: scale(1.12);
}

.sticker-wrapper {
  flex: 0 0 auto;
}

.sticker-btn {
  background: none;
  border: 0;
  padding: 0;
  cursor: pointer;
  display: inline-block;
}

@media (min-width: 640px) {
  .skills-grid {
    grid-template-columns: repeat(3, minmax(70px, 1fr));
  }
}

@media (min-width: 1024px) {
  .header-row {
    justify-content: flex-start;
    margin-bottom: 64px;
  }

  .scribble-circle {
    width: 300px;
  }

  .description-img {
    max-width: 620px;
  }

  .content-row {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 500px;
  }

  .skills-grid {
    grid-template-columns: repeat(5, 78px);
    gap: 24px 34px;
    width: auto;
    max-width: unset;
    justify-content: center;
  }

  .skill-card img {
    width: 96px;
  }

}
