<section class="skills-section" id="skills">
  <div class="container">
    <div class="header-row">
      <div class="title-wrapper">
        <h4>{{ ls.t("skills").subtitle }}</h4>
        <h2>{{ ls.t("skills").title }}</h2>

        <img
          src="assets/img/skill-cirkel.png"
          alt="Skill set"
          class="scribble-circle"
        />
      </div>

      <div class="description-wrapper">
        <img
          src="assets/img/aa.png"
          [alt]="ls.t('skills').descriptionAlt"
          class="description-img"
        />

        <p class="description-text">
          {{ ls.t("skills").descriptionText }}
        </p>
      </div>
    </div>

    <div class="content-row">
      <div class="skills-grid">
        <div class="skill-card" *ngFor="let skill of skills">
          <img [src]="skill.icon" [alt]="skill.name" />
        </div>
      </div>

      <div class="sticker-wrapper">
        <button type="button" class="sticker-btn" (click)="toggleSticker()">
          <img [src]="stickerSrc" alt="Sticker" class="sticker-img" />
          <img
            *ngIf="!isOpen"
            src="assets/img/stickerarrow.png"
            alt=""
            class="sticker-arrow"
            aria-hidden="true"
          />

          <img
            *ngIf="!isOpen"
            src="assets/img/Pull-to-peel.png"
            alt=""
            class="sticker-label"
            aria-hidden="true"
          />
        </button>
      </div>
    </div>
  </div>
</section>
