<section class="legacy-notice">
  <div class="legacy-notice__top">
    <app-header class="legacy-notice__header"></app-header>

    <div class="legacy-notice__container legacy-notice__top-inner">
      <h1 class="legacy-notice__title">{{ ls.t('legacyNotice').title }}</h1>
    </div>
  </div>

  <div class="legacy-notice__content">
    <div class="legacy-notice__container">
      <h2 class="legacy-notice__h2">{{ ls.t('legacyNotice').imprint }}</h2>

      <p class="legacy-notice__p">
        Joshua Auerbach<br />
        {{ ls.t('legacyNotice').address }}<br />
        Email: joshuaauerbach [at] web.de
      </p>

      <h3 class="legacy-notice__h3">{{ ls.t('legacyNotice').brandTitle }}</h3>
      <p class="legacy-notice__p">{{ ls.t('legacyNotice').brandText }}</p>

      <h3 class="legacy-notice__h3">{{ ls.t('legacyNotice').termsTitle }}</h3>
      <p class="legacy-notice__p">{{ ls.t('legacyNotice').termsText }}</p>

      <h3 class="legacy-notice__h3">{{ ls.t('legacyNotice').ownerTitle }}</h3>
      <p class="legacy-notice__p">{{ ls.t('legacyNotice').ownerText }}</p>

      <h3 class="legacy-notice__h3">{{ ls.t('legacyNotice').rightsTitle }}</h3>
      <p class="legacy-notice__p">{{ ls.t('legacyNotice').rightsText }}</p>

      <h3 class="legacy-notice__h3">{{ ls.t('legacyNotice').useTitle }}</h3>
      <p class="legacy-notice__p">{{ ls.t('legacyNotice').useText }}</p>

      <h3 class="legacy-notice__h3">{{ ls.t('legacyNotice').liabilityTitle }}</h3>
      <p class="legacy-notice__p">{{ ls.t('legacyNotice').liabilityText }}</p>

      <h3 class="legacy-notice__h3">{{ ls.t('legacyNotice').lawTitle }}</h3>
      <p class="legacy-notice__p">{{ ls.t('legacyNotice').lawText }}</p>

      <p class="legacy-notice__meta">{{ ls.t('legacyNotice').update }}</p>
    </div>
  </div>

  <app-footer class="legacy-notice__footer"></app-footer>
</section>