<section class="hero" id="hero">
  <app-header></app-header>

  <div class="hero__inner">
    <ul class="hero__socials">
      <li>
        <a [href]="ls.t('hero').linkedinLink" target="_blank" rel="noopener noreferrer">
          <img src="assets/img/linked.png" [alt]="ls.t('hero').linkedin" class="hero__social-img" />
        </a>
      </li>
      <li>
        <a [href]="ls.t('hero').githubLink" target="_blank" rel="noopener noreferrer">
          <img src="assets/img/github.png" [alt]="ls.t('hero').github" class="hero__social-img" />
        </a>
      </li>
      <li>
        <a [href]="ls.t('hero').emailLink">
          <img src="assets/img/contact.png" [alt]="ls.t('hero').email" class="hero__social-img" />
        </a>
      </li>
    </ul>

    <div class="hero__box">
      <div class="hero__badge-container">
        <img src="/assets/img/waving_hand.png" alt="Wave" class="hero__hand-img" />
        <span class="hero__badge-text hero__badge-text--initial">
          {{ ls.t('hero').hello }}
        </span>
        <span class="hero__badge-text hero__badge-text--hover">
          {{ ls.t('hero').iam }}
        </span>
      </div>

      <div class="hero__title-row">
        <div class="hero__frontend hero__word">
          <span
            class="hero__char"
            *ngFor="let ch of frontend"
            [attr.data-upper]="ch"
            [attr.data-lower]="ch.toLowerCase()"
          ></span>
        </div>

        <div class="hero__polaroid">
          <img src="assets/img/joshi1.png" alt="Joshua" class="hero__polaroid-img" />
        </div>
      </div>

      <div class="hero__developer hero__word">
        <span
          class="hero__char"
          *ngFor="let ch of developer"
          [attr.data-upper]="ch"
          [attr.data-lower]="ch.toLowerCase()"
        ></span>
      </div>

      <button
        class="hero__cta"
        type="button"
        (click)="scrollToContact()"
      >
        {{ ls.t('hero').cta }}
      </button>
    </div>
  </div>
</section>