<section class="hero">
  <app-header></app-header>
  <div class="hero__inner">
    <ul class="hero__socials">
      <li>
        <a href="#" target="_blank" rel="noopener noreferrer">
          <img
            src="assets/img/linked.png"
            alt="LinkedIn"
            class="hero__social-img"
          />
        </a>
      </li>
      <li>
        <a href="#" target="_blank" rel="noopener noreferrer">
          <img
            src="assets/img/github.png"
            alt="GitHub"
            class="hero__social-img"
          />
        </a>
      </li>
      <li>
        <a href="mailto:deine-mail@example.com">
          <img
            src="assets/img/contact.png"
            alt="E-Mail"
            class="hero__social-img"
          />
        </a>
      </li>
    </ul>

    <div class="hero__content">
      <div class="hero__badge">Hello world</div>

      <h1 class="hero__title">
        <span class="hero__title-line hero__title-line--small">Frontend</span>
        <span class="hero__title-line hero__title-line--big">DEVELOPER</span>
      </h1>

      <div class="hero__cta-row">
        <img
          src="assets/img/Component 23.png"
          alt="Joshua"
          class="hero__polaroid-img-inline"
        />
      </div>
    </div>

    <div class="hero__polaroid">
      <img
        src="/assets/img/Group 31.png"
        alt="Joshua"
        class="hero__polaroid-img"
      />
      <span class="hero__polaroid-caption">Joshua</span>
    </div>
  </div>
</section>
