<section class="privacy-notice">
  <div class="privacy-notice__top">
    <app-header class="privacy-notice__header"></app-header>

    <div class="privacy-notice__container privacy-notice__top-inner">
      <h1 class="privacy-notice__title">{{ ls.t('privacyNotice').title }}</h1>
    </div>
  </div>

  <div class="privacy-notice__content">
    <div class="privacy-notice__container">
      <h2 class="privacy-notice__h2">{{ ls.t('privacyNotice').subtitle }}</h2>

      <h3 class="privacy-notice__h3">{{ ls.t('privacyNotice').introTitle }}</h3>
      <p class="privacy-notice__p">{{ ls.t('privacyNotice').introText }}</p>

      <h3 class="privacy-notice__h3">{{ ls.t('privacyNotice').rightsTitle }}</h3>
      <p class="privacy-notice__p">{{ ls.t('privacyNotice').rightsText }}</p>

      <p class="privacy-notice__meta">{{ ls.t('privacyNotice').update }}</p>
    </div>
  </div>

  <app-footer class="privacy-notice__footer"></app-footer>
</section>
