<footer class="footer">
    <div class="footer-container">
      
      <div class="footer-left">
        <img src="assets/img/Logo.png" alt="Logo" class="footer-logo">
        <span class="copyright">© Joshua Auerbach 2024</span>
        <a href="/imprint" class="legal-link">Legal Notice</a>
      </div>
  
      <div class="footer-right">
        
        <div class="social-icons">
          <a href="https://github.com/Joshi-hub" target="_blank" rel="noopener">
            <img src="assets/img/github.png" alt="GitHub">
          </a>
          <a href="https://linkedin.com/in/DEIN-USER" target="_blank" rel="noopener">
            <img src="assets/img/linked.png" alt="LinkedIn">
          </a>
          <a href="mailto:deine-mail@example.com">
            <img src="assets/img/contact.png" alt="Mail">
          </a>
        </div>
  
      </div>
  
    </div>
  </footer>
