<section class="about" id="about">
  <div class="about__inner">
    <div class="about__left left">
      <img
        src="assets/img/Frame 628.png"
        alt="Based in Munich"
        class="about__tag about__tag--top"
      />
      <img
        src="assets/img/Frame 629.png"
        alt="Open to relocate"
        class="about__tag about__tag--middle"
      />
      <img
        src="assets/img/Frame 630.png"
        alt="Open to work remote"
        class="about__tag about__tag--bottom"
      />
    </div>

    <div class="about__right">
      <p class="about__eyebrow">WHO'S Joshua</p>

      <div class="about__heading-wrap">
        <h2 class="about__title">About me</h2>
        <img
          src="assets/img/19_Line.png"
          alt=""
          class="about__underline draw-line"
        />
      </div>

      <p class="about__text">
        Hey there, I’m Joshua. Write some information about yourself that is IT
        related. Where are you passionate about coding? What is your source of
        inspiration for improving your programming skills? Do you learn from
        each challenge as you search for the most efficient or elegant solution?
      </p>

      <p class="about__text">
        Let’s collaborate and build something remarkable together!
      </p>

      <button class="about__cta">Let’s talk</button>
    </div>
  </div>
</section>
