<section class="about" id="about">
  <app-section-title reveal="right"></app-section-title>
  
  <div class="container">
    <div class="about__inner">
      <div class="about__left left">
        
        <div class="about__tag about__tag--top">
          <img
            src="assets/img/Frame 628.png"
            [alt]="ls.t('about').location"
            class="about__tag-bg"
          />
          <div class="about__tag-overlay">
            <img
              src="assets/img/18_Location Icons.png"
              alt=""
              class="about__tag-icon"
            />
            <span class="about__tag-text">{{ ls.t('about').location }}</span>
          </div>
        </div>

        <div class="about__tag about__tag--middle">
          <img
            src="assets/img/Frame 629.png"
            [alt]="ls.t('about').relocate"
            class="about__tag-bg"
          />
          <div class="about__tag-overlay">
            <img
              src="assets/img/18_Location Icons (1).png"
              alt=""
              class="about__tag-icon"
            />
            <span class="about__tag-text">{{ ls.t('about').relocate }}</span>
          </div>
        </div>

        <div class="about__tag about__tag--bottom">
          <img
            src="assets/img/Frame 630.png"
            [alt]="ls.t('about').remote"
            class="about__tag-bg"
          />
          <div class="about__tag-overlay">
            <img
              src="assets/img/18_Location Icons (2).png"
              alt=""
              class="about__tag-icon"
            />
            <span class="about__tag-text">{{ ls.t('about').remote }}</span>
          </div>
        </div>
      </div>

      <div class="about__right">
        <p class="about__eyebrow">{{ ls.t('about').eyebrow }}</p>

        <div class="about__heading-wrap">
          <h2 class="about__title">{{ ls.t('about').title }}</h2>
          <img
            src="assets/img/19_Line.png"
            alt=""
            class="about__underline draw-line"
          />
        </div>

        <p class="about__text">
          {{ ls.t('about').text1 }}
        </p>

        <p class="about__text">
          {{ ls.t('about').text2 }}
        </p>

        <button class="btn" type="button" (click)="scrollToContact()">
          {{ ls.t('about').cta }}
        </button>
      </div>
    </div>
  </div>
</section>